/* app css stylesheet 

  1. Reset
  2. Base
  3. Nav
  4. Header
  5. Player
  5. Content
    5.1 Main Page

*/


/* 
  1. Reset
*/
h1, h2, h3, h4, h5, ul, ul li {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* 
  2. Base
*/
body {
  font-family: 'Open Sans', sans-serif;
}
// h2 {
//   margin: .45em 0;
// }
.dropdown {
  display: none;
}




/* 
  3. Nav
*/
nav {
}

/* 
  4. Header
*/
main > header {
}
/* 
  5. Player
*/

/* 
  6. Main Page
*/
section.main {
  .content {
    //add padding to main content
    .block {
      padding: 1.5em 1.2em;
    }
  }
}