block nav
.col-xs-1
	nav.xs
		ul
			//- li.header
			//- 	p Główne
			li
				a
					span.icon.big.menu
					span.name
						| Przeglądaj
			li
				a
					span.icon.big.menu
					span.name
						| Najnowsze
			li
				a
					span.icon.big.menu
					span.name
						| Hot
					//- span.badge.xsmall.int
			li
				a
					span.icon.big.menu
					span.name
						| Premiery
			li
				a
					span.icon.big.menu
					span.name
						| News
		ul
			//- li.header
			//- 	p Playlisty
			li
				a
					span.icon.big.menu
					span.name
						| Oznaczone gwiazdką
					//- span.badge.xsmall.star
			li
				a
					span.icon.big.menu
					span.name
						| no 1
			li
				a
					span.icon.big.menu
					span.name
						| no 2