block player
	#player
		.col-xs-12
			.control_panel
				span.icon.previous
				span.icon.big.play
				span.icon.next
				span.playTime_status
					| 0:01
				span.timeLine
					span.playTime_line
				span.playTime_song
					| 3:52
				//- span.qua - kolejka odwarzania || playlista aktualna
				span.shuffle
				span.icon.volume
				span.volume
					span.volume_line